:root {
  --background-color-light: #fff;
  --text-color-light: #000;
  --background-color-dark: #000;
  --text-color-dark: #fff;
  --primary-color: #ffe81f; 
  --toggle-background-color: #4D4D4D;
  --toggle-button-color: #fff;
}

.app {
  font-family: 'Orbitron', sans-serif;
  padding: 40px;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.app.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.app.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.app h1 {
  color: var(--primary-color);
  margin-bottom: 40px;
}


.dark-mode-toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}


.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 30px;
  background-color: var(--toggle-background-color);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.toggle:hover {
  background-color: #626262;
}

.t-button {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: var(--toggle-button-color);
  border-radius: 50%;
  transition: left 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.toggle.dark .t-button {
  left: auto;
  right: 2px;
}

.toggle > svg {
  z-index: 1;
  width: 20px;
  height: 20px;
  color: #f0f0f0;
}


.planets-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Smartphones (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .app {
    padding: 20px; 
  }

  .app h1 {
    font-size: 1.5em; 
  }
}

/* Low-Resolution Tablets and iPads (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .app h1 {
    font-size: 2em; 
  }
}

/* Tablets iPads portrait mode (max-width: 1024px) */
@media only screen and (max-width: 1024px) {
  .app h1 {
    font-size: 2.5em; 
  }
}

/* Desktops (max-width: 1280px) */
@media only screen and (max-width: 1280px) {
  .app {
    padding: 30px; 
  }

  .app h1 {
    font-size: 3em; 
  }
}

/* Huge size screens (min-width: 1281px) */
@media only screen and (min-width: 1281px) {
  .app h1 {
    font-size: 4em; 
  }
}

